<ActionBar title="About Fish Memory" icon="" class="action-bar bg-dark text-white">
    <NavigationButton text="Back" icon="res://ic_arrow_back_white_24dp" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout class="page p-15">
    <Label text="Fish Memory App is a super simple flash card and quiz management app. It performs simple operations such as CRUD (Create/Read/Update/Delete) of flash cards and quizzes."
        textWrap="true" class="body"></Label>
    <Label text="It's very intuitive to use, the whole navigation is in its drawer menu at the top right screen. Update and Delete operations are made upon swiping the list item to right and left."
        textWrap="true" class="body m-t-10"></Label>
    <Label text="Technologies involved:" textWrap="true" class="body m-t-10"></Label>
    <Label text="* Nativescript with Angular 2+" textWrap="true" class="body m-t-5 m-l-10"></Label>
    <Label text="* Javascript/Typescript" textWrap="true" class="body m-t-5 m-l-10"></Label>
    <Label text="* HTML/CSS" textWrap="true" class="body m-t-5 m-l-10"></Label>
    <Label text="* SQLite" textWrap="true" class="body m-t-5 m-l-10"></Label>

    <Label text="Author: William T. Mimura (WoToM)" textWrap="true" class="body m-t-20"></Label>
    <Label text="Source: https://github.com/mimurawil/fish-memory-app-nativescript" textWrap="true" class="body m-t-10"></Label>
    <Label text="Visit: https://www.wtmimura.com/" textWrap="true" class="body m-t-10"></Label>
</StackLayout>